<table>
  <tr>
    <th><h2>Player</h2></th>
    <th><h2>Wins</h2></th>
  </tr>
<% @users.sort_by{|u| u.wincount }.reverse.each do |u| %>
<tr>
  <td><%= u.nickname %></td>
  <td><%= u.wincount %></td>
</tr>
  
<% end %>
</table>
